<div class="col-md-4 col-md-offset-4">
  <h1>新增討論版</h1>
  <%= simple_form_for @groups do |f| %>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
  <hr>
</div>
